body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f3f4f6;
  color: #111827;
}

header {
  position: sticky;
  top: 0;
  background-color: #111827;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px gray;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color:lightskyblue;
}

main {
  display: flex;
  justify-content: center;
  padding: 30px;
}

section {
  width: 80%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #111827;
  color: white;
  text-align: center;
  padding: 15px;

}

footer a:hover {
    text-decoration: underline;
    color:lightskyblue;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}